
%h3
  Selecciona el tipo de acuerdo
.row
  .col.l4.m4
    .card-panel
      =link_to 'Designación de sinodales', "/meetings/#{@meeting.id}/synod_designations/new", remote:true, class:'ajax-item', url:"meetings/#{@meeting.id}/synod_designations/new"
  .col.l4.m4
    .card-panel
      =link_to 'Nuevo ingreso', "/meetings/#{@meeting.id}/new_admissions/new", remote:true, class:'ajax-item', url: "meetings/#{@meeting.id}/new_admissions/new"

  .col.l4.m4
    .card-panel
      =link_to 'Examen de grado', "/meetings/#{@meeting.id}/professional_exams/new", remote:true, class:'ajax-item', url:"meetings/#{@meeting.id}/professional_exams/new"
  .col.l4.m4
    .card-panel
      =link_to 'Designación de comité tutoral', "/meetings/#{@meeting.id}/tutor_committees/new", remote:true, class:'ajax-item', url:"meetings/#{@meeting.id}/tutor_committees/new"
  .col.l4.m4
    .card-panel
      =link_to 'Director de tesis', "/meetings/#{@meeting.id}/thesis_directors/new", remote:true, class:'ajax-item', url:"meetings/#{@meeting.id}/thesis_directors/new"
  .col.l4.m4
    .card-panel
      =link_to 'Asuntos generales', "/meetings/#{@meeting.id}/general_issues/new", remote:true, class:'ajax-item', url:"meetings/#{@meeting.id}/general_issues/new"
  .col.l4.m4
    .card-panel
      =link_to 'Designación de comité de pares', "/meetings/#{@meeting.id}/peer_comittee_designations/new", remote:true, class:'ajax-item', url:"meetings/#{@meeting.id}/peer_comittee_designations/new"
