.container
  .row
    %h1
      Sesión
      =@meeting.get_type.downcase

  .row
    .col.l4
      .card.blue.darken-3.white-text
        .card-content
          .card-title
            =I18n.l(@meeting.date, format: '%B').capitalize
            =@meeting.date.strftime("%Y")
          =I18n.l(@meeting.date, format: '%A').capitalize
          =I18n.l(@meeting.date, format: '%d')
          %br
          =I18n.l(@meeting.date, format: '%l:%M %P')


    .col.l4
      .card
        .card-content
          .card-title
            Acuerdos totales:
            =@meeting.agreement.size
          %canvas#completedChart{:height => "400", :width => "400"}
    .col.l4
      .card
        .card-content
          .card-title
            Tipos de acuerdos
          %canvas#typesChart{:height => "400", :width => "400"}

.fixed-action-btn
  %a.btn-floating.btn-large.red.tooltipped.ajax-item{href:"/meetings/#{@meeting.id}/new_agreement","data-position" => "left", "data-tooltip" => "Nuevo acuerdo", "data-delay" => "100", url:"meetings/#{@meeting.id}/new_agreement", "data-remote"=>"true"}
    %i.fa.fa-plus{"aria-hidden" => "true"}
:javascript

  var completedChart = document.getElementById("completedChart");

  var oilData = {
    labels: [
      "Pendientes",
      "Resueltos"
    ],
    datasets: [
      {
        data: [#{@meeting.agreement.where(status: Agreement::OPEN).size}, #{@meeting.agreement.where(status: Agreement::CLOSE).size}],
        backgroundColor: [
          "#FF6384",

          "#66aa00"
        ]
      }]
  };

  var pieChart = new Chart(completedChart, {
    type: 'pie',
    data: oilData
  });

  var typesChart = document.getElementById("typesChart");

  var oilData = {
    labels: [
      #{raw @agreement_type_name}.replace(/&quot;/g,'"')
    ],
    datasets: [
      {
        data: [#{@agreement_type_value}],
        backgroundColor: [
          "#FF6384",

          "#6384FF"
        ]
      }]
  };

  var doughnutChart = new Chart(typesChart, {
    type: 'doughnut',
    data: oilData
  });

  $('.tooltipped').tooltip({delay: 50});

