-if @meeting.status.eql? Meeting::DELETED
  %h1.red.center Sesión eliminada
-else
  .row
    %h1#session-name
      Sesión
      %span.black-text.text-darken-4
        =@meeting.id_key

    %span.pink-text.text-darken-4.flow-text
      =f_date(@meeting.date)
    -if @meeting.status.eql? Meeting::CLOSED
      %span.red-text.flow-text.chip
        Esta sesión esta cerrada

  .row
    .col.l4.m4
      .card
        .card-content
          .card-title
            Acuerdos
            %a.btn-floating.green.darken-2.tooltipped.ajax-item.right{href:"/meetings/#{@meeting.id}/new_agreement","data-position" => "left", "data-tooltip" => "Nuevo acuerdo", "data-delay" => "100", "data-remote"=>"true"}
              %i.fa.fa-plus{"aria-hidden" => "true"}
          -if @meeting_agreements.size == 0
            %h4.center 0
          -else
            %ul.collection.with-header
              -@meeting_agreements.each do |agreement|
                =link_to  "agreements/#{agreement.id}", remote:true, url:"agreements/#{agreement.id}", class:'ajax-item collection-item avatar' do
                  -if agreement.agreeable_type.eql? 'ProfessionalExam'
                    %img.circle.blue{"aria-hidden"=>true, src:"http://posgrado.cimav.edu.mx/imagen/estudiante/#{agreement.agreeable.student.id}"}
                  %span.title
                    =agreement.id_key
                  %p
                    =agreement.get_type




    .col.l4.m4
      .card
        .card-content
          .card-title
            Acuerdos totales:
            =@meeting.agreement.size
          %canvas#completedChart{:height => "400", :width => "400"}
    .col.l4.m4
      .card
        .card-content
          .card-title
            Tipos de acuerdos
          %canvas#typesChart{:height => "400", :width => "400"}
  -if is_admin?
    .fixed-action-btn.click-to-toggle
      %a.btn-floating.btn-large.blue.darken-2
        %i.fa.fa-ellipsis-v{"aria-hidden" => "true"}
      %ul
        %li
          %a.btn-floating.btn-large.red.tooltipped.eliminar{href:"/meetings/#{@meeting.id}","data-position" => "left", "data-tooltip" => "Eliminar sesión", "data-delay" => "100", "data-method"=>"delete", "data-remote"=>"true","data-confirm"=>"Se eliminará la sesión"}
            %i.fa.fa-trash{"aria-hidden" => "true"}
        %li
          %a.btn-floating.btn-large.blue.lighten-1.tooltipped.ajax-item{href:"/meetings/#{@meeting.id}/edit",url:"meetings/#{@meeting.id}/edit","data-position" => "left", "data-tooltip" => "Editar sesión", "data-delay" => "100", "data-remote"=>"true"}
            %i.fa.fa-pencil{"aria-hidden" => "true"}



:javascript

  var completedChart = document.getElementById("completedChart");

  var oilData = {
    labels: [
      "Pendientes",
      "Resueltos"
    ],
    datasets: [
      {
        data: [#{@meeting.agreement.where(status: Agreement::OPEN).size}, #{@meeting.agreement.where(status: Agreement::CLOSE).size}],
        backgroundColor: [
          "#FF6384",

          "#66aa00"
        ]
      }]
  };

  var pieChart = new Chart(completedChart, {
    type: 'pie',
    data: oilData
  });

  var typesChart = document.getElementById("typesChart");

  var oilData = {
    labels: [
      #{raw @agreement_type_name}
    ],
    datasets: [
      {
        data: [#{@agreement_type_value}],
        backgroundColor: [
          "#FF6384",

          "#6384FF"
        ]
      }]
  };

  var doughnutChart = new Chart(typesChart, {
    type: 'doughnut',
    data: oilData
  });
  $('.tooltipped').tooltip({delay: 50});

