-if @meeting.status.eql? Meeting::DELETED
  %h1.red.center Sesión eliminada
-else
  .row
    %h1#session-name
      Sesión
      %span.black-text.text-darken-4
        =@meeting.id_key

    %span.pink-text.text-darken-4.flow-text
      =f_date(@meeting.date)
    -if @meeting.status.eql? Meeting::CLOSED
      %span.red-text.flow-text.chip
        Esta sesión esta cerrada

  .row
    .col.l9.m9
      .card
        .card-content
          .card-title
            Acuerdos
            -if is_admin?
              %a.btn-floating.green.darken-2.tooltipped.ajax-item.right{href:"/meetings/#{@meeting.id}/new_agreement",url:"meetings/#{@meeting.id}/new_agreement","data-position" => "left", "data-tooltip" => "Nuevo acuerdo", "data-delay" => "100", "data-remote"=>"true"}
                %i.fa.fa-plus{"aria-hidden" => "true"}
          -if @meeting_agreements.size == 0
            %h4.center 0
          -else
            %table.bordered.agreement-table.highlight
              %thead
                %tr
                  %th
                  %th Folio
                  %th Información
                  %th Decisión
              %tbody
                -@meeting_agreements.each do |agreement|
                  %tr.tr-click{href:"agreements/#{agreement.id}"}
                    %td
                      -if agreement.agreeable_type.eql? 'ProfessionalExam'
                        %img.circle.blue.responsive-img.agreement-icon{"aria-hidden"=>true, src:"http://posgrado.cimav.edu.mx/imagen/estudiante/#{agreement.agreeable.student.id}"}
                      -else
                        = image_tag "logo-cep.png", class:'responsive-img agreement-icon'
                    %td
                      =agreement.id_key
                    %td
                      =agreement.get_type
                      -if agreement.agreeable_type.eql? 'ProfessionalExam'
                        =agreement.agreeable.student.full_name
                    %td
                      -if agreement.status.eql? Agreement::OPEN
                        Pendiente
                      -else
                        -case agreement.decision
                          -when Agreement::ACCEPTED
                            %i.fa.fa-check{"aria-hidden" => "true"}
                          -when Agreement::REJECTED
                            %i.fa.fa-times{"aria-hidden" => "true"}
                          -when Agreement::TO_COMMITTEE
                            %i.fa.fa-exclamation{"aria-hidden" => "true"}





    .col.l3.m3
      .card
        .card-content
          .card-title
            Acuerdos totales:
            =@meeting.agreement.size
          %canvas#completedChart{:height => "400", :width => "400"}

      .card
        .card-content
          .card-title
            Tipos de acuerdos
          %canvas#typesChart{:height => "400", :width => "400"}
  -if is_admin?
    .fixed-action-btn.click-to-toggle
      %a.btn-floating.btn-large.blue.darken-2
        %i.fa.fa-ellipsis-v{"aria-hidden" => "true"}
      %ul
        %li
          %a.btn-floating.btn-large.red.tooltipped.eliminar{href:"/meetings/#{@meeting.id}","data-position" => "left", "data-tooltip" => "Eliminar sesión", "data-delay" => "100", "data-method"=>"delete", "data-remote"=>"true","data-confirm"=>"Se eliminará la sesión"}
            %i.fa.fa-trash{"aria-hidden" => "true"}
        %li
          %a.btn-floating.btn-large.blue.lighten-1.tooltipped.ajax-item{href:"/meetings/#{@meeting.id}/edit",url:"meetings/#{@meeting.id}/edit","data-position" => "left", "data-tooltip" => "Editar sesión", "data-delay" => "100", "data-remote"=>"true"}
            %i.fa.fa-pencil{"aria-hidden" => "true"}



:javascript

  var completedChart = document.getElementById("completedChart");
  Chart.defaults.global.legend.display = false;
  var oilData = {
    labels: [
      "Pendientes",
      "Resueltos"
    ],
    datasets: [
      {
        data: [#{@meeting.agreement.where(status: Agreement::OPEN).size}, #{@meeting.agreement.where(status: Agreement::CLOSE).size}],
        backgroundColor: [
          "#919595",

          "#45BC57"
        ]
      }]
  };

  var pieChart = new Chart(completedChart, {
    type: 'pie',
    data: oilData
  });

  var typesChart = document.getElementById("typesChart");

  var oilData = {
    labels: [
      #{raw @agreement_type_name}
    ],
    datasets: [
      {
        data: [#{@agreement_type_value}],
        backgroundColor: [
          "#1F667C",
          "#FFC02F",
          "#9E9795"
        ]
      }]
  };

  var doughnutChart = new Chart(typesChart, {
    type: 'doughnut',
    data: oilData
  });
  $('.tooltipped').tooltip({delay: 50});

