.row
  %h1
    Hola
    =current_user.name

-if is_admin?
  .row
    .col.m12.l12.xl12
      .card-panel.blue.white-text
        %h5
          Próxima reunión:

        %h3
          /=@next_meeting.date.strftime("%d %B %Y%l:%M %P")
          =f_date_no_time(@next_meeting.date) rescue 'No hay próximas reuniones'




-else
  .row
    .col.l14.m4
      ///////////////////////////////////////////////////////////////// Acuerdos pendientes
      .card
        .card-content
          .card-title
            Mis acuerdos pendientes
          -if missing_votes.size == 0
            %h4.center.grey-text
              0
          -else
            %ul.collection.with-header
              -missing_votes.each do |agreement|
                =link_to  "agreements/#{agreement.id}", remote:true, url:"agreements/#{agreement.id}", class:'ajax-item collection-item avatar' do
                  -if agreement.agreeable_type.eql? 'ProfessionalExam'
                    %img.circle.blue{"aria-hidden"=>true, src:"http://posgrado.cimav.edu.mx/imagen/estudiante/#{agreement.agreeable.student.id}"}
                  %span.title
                    =agreement.id_key
                  %p
                    =agreement.get_type

    .col.l8.m8
      .card-panel.blue.white-text
        %h5
          Próxima reunión:

        %h3
          /=@next_meeting.date.strftime("%d %B %Y%l:%M %P")
          =f_date_no_time(@next_meeting.date) rescue 'No hay próximas reuniones'
      .card
        .card-content
          .card-title
            Acuerdos recientes
          %ul.collection
            -last_agreement_votes.each do |agreement|
              =link_to  "agreements/#{agreement.id}", remote:true, url:"agreements/#{agreement.id}", class:'ajax-item collection-item avatar' do
                -if agreement.agreeable_type.eql? 'ProfessionalExam'
                  %img.circle.blue{"aria-hidden"=>true, src:"http://posgrado.cimav.edu.mx/imagen/estudiante/#{agreement.agreeable.student.id}"}
                %span.title
                  =agreement.id_key
                %p
                  =agreement.get_type
                %p.secondary-content
                  Mi voto
                  %br
                  -my_vote = agreement.responses.where(user_id:current_user.id).last
                  =my_vote.answer.capitalize