= form_for agreeable,html:{remote:true, class:'alertas redirect'} do |f|
  .row.input-field

    %label.active{:for => "description"} Descripción
    =text_field_tag :description, agreeable.agreement.description
  .row.input-field
    %label.active{:for => "student_id"} Estudiante
    =f.collection_select :student_id, @students, :id, :full_name,prompt: true

  .row
    -if !agreeable.exam_date.nil?
      -datetime = agreeable.exam_date
    -else
      =label_tag :date, 'Seleccione fecha para examen', class:'active red-text'
      -datetime = '0000-01-01 00:00:00'
    -date = datetime.to_s.split(" ")[0].to_date.strftime("%d %B, %Y")
    -time = datetime.to_s.split(" ")[1].to_time.strftime('%l:%M%P')
    .input-field.col.s3
      =text_field_tag :date,date, class: "datepicker"
      =label_tag :date, 'Fecha', class:'active'

    .input-field.col.s3
      =text_field_tag :time,time, class: "timepicker", :type => "text", id:'exam_time'
      =label_tag :exam_time, 'Hora', class:'active'

  .row
    =f.submit 'listo',class:'btn'
= form_tag "/agreements/#{agreeable.agreement.id}/upload_file", method: :post, class: "dropzone", id: "upload-dropzone" do
  %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
  .fallback
    = file_field_tag "file", multiple: true



:javascript
  Dropzone.autoDiscover = false;

  var headlineDropzone = new Dropzone("#upload-dropzone", {

  //url: "/agreements/#{agreeable.agreement.id}/upload_file", // You can override url of form in here.

  maxFilesize: 5, // in MB

  parallelUploads: 2,
  addRemoveLinks: true,
  //autoQueue:false,

  acceptedFiles:'.jpg, .png, .jpeg, .gif', // type of files

  init: function(){

    this.on('addedfile', function(file) {

      // Called when a file is added to the list.

    });

    this.on('removedfile', function(file) {

      // Called when a file is added to the list.

    });

    this.on('sending', function(file, xhr, formData) {

      // Called just before each file is sent.

    });

    this.on('success', function(file, json) {

      // Called when file uploaded successfully.

    });

  }

  });