.row.breadcrumbs
  .col.s12
    %a.ajax-item.tooltipped{href:"/meetings/#{@agreement.meeting.id}", "data-remote"=>"true", url:"meetings/#{@agreement.meeting.id}","data-position"=>"bottom", "data-delay"=>"50", "data-tooltip"=>"Sesión #{@agreement.meeting.id_key}"}
      =@agreement.meeting.id_key
    %i.fa.fa-angle-right{"aria-hidden"=>true}
    =@agreement.id_key

-if @agreement.status.eql? Agreement::DELETED
  %h1.center.red
    Acuerdo eliminado
-else
  .row
    %h1.center#agreement-title
      =a_class_to_name(@agreement.agreeable_type)
      -if @agreement.status.eql? Agreement::OPEN
        .chip
          Abierto
      -if @agreement.decision
        -color = ''
        -if @agreement.decision.eql? Response::TO_COMMITTEE
          -color = 'yellow'
        .chip{class:color+' lighten-4'}
          ="Acuerdo #{@agreement.get_decision.downcase rescue "---"}"



  .row
    .col.l12.m12
      .card.z-depth-2
        .card-content
          .card-title
            Información del acuerdo
          =render partial:"#{@agreement.agreeable.class.table_name}/show", locals:{agreeable:@agreement.agreeable}
          -if !@agreement.notes.blank?
            .divider
            %br
            %b Notas:
            =@agreement.notes
  .row
    .col.l12.m12
      .card
        .card-content
          .card-title
            Documentos
          -if @agreement.agreeable_type == 'Scholarship' && @agreement.agreeable.person_type == 'Internship'
            =render partial: 'scholarships/documents', locals:{files: @agreement.agreeable.person.internship_files}
          -else
            #agreement_files
              :javascript
                refreshFiles(#{@agreement.id});
            -if is_admin?
              = form_tag "/agreements/#{@agreement.id}/upload_file", method: :post, class: "dropzone", id: "upload-dropzone" do
                %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
                .fallback
                  = file_field_tag "file", multiple: true

  .row
    .col.l12.m12
      .card
        .card-content
          .card-title
            Votación
          -if current_user.user_type == User::CEP
            -if @agreement.status == Agreement::OPEN
              -if Response.where(:user_id => current_user.id).where(:agreement_id => @agreement.id).size == 0
                .section#vote-form
                  %h5
                    Realizar votación
                  =form_for @response, :url => "/agreements/#{@agreement.id}/send_response", html:{remote:true, class:'alertas refresh'} do |f|
                    .row
                      .col.l4.m4.input-field
                        =f.select :answer, Response.const_get(@agreement.agreeable_type.upcase).invert.sort {|a,b| a[1] <=> b[1] }, {:include_blank => '-- Selecciona --',required:true}
                        =f.label :answer, 'Respuesta'
                      .col.l4.m4.input-field
                        =f.text_field :comment
                        =f.label :comment, 'Comentarios', class:'active'
                      .col.l4.m4.input-field.center
                        =f.submit 'Enviar', class:'btn blue darken-3'
          .section.soft-border
            %h5
              Tabla de votaciones
            %table
              %thead
                %tr
                  %th
                  %th Miembro del CEP
                  %th Voto
                  %th Comentarios
              %tbody
                -@ceps.each do |member|
                  %tr
                    %td
                      =image_tag "http://cimav.edu.mx/foto/#{member.email[/[^@]+/]}/50", class:'circle responsive-img', alt:'*'
                    %td
                      =member.name
                    %td
                      -response = Response.where(:user_id => member.id).where(:agreement_id => @agreement.id)
                      -if response.size > 0
                        .grey-text.text-darken-2
                          =response.first.answer.capitalize
                      -else
                        = "---"
                    %td
                      -if response.size >0
                        =response.first.comment
                      -else
                        = "---"

  -if is_admin?
    .row
      .fixed-action-btn.toolbar
        %a.btn-floating.btn-large.blue.darken-2
          %i.large.fa.fa-ellipsis-v{"aria-hidden"=>true}
        %ul.padding-content
          %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Editar acuerdo"}
            %a.ajax-item{:href => "/agreements/#{@agreement.id}/edit", "data-remote"=>"true", url:"agreements/#{@agreement.id}/edit"}
              %i.fa.fa-pencil{"aria-hidden"=>true}
          -if (@agreement.status.eql?Agreement::CLOSE) && (!@agreement.decision.eql? Response::TO_COMMITTEE)
            %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Imprimir documento"}
              %a{:href => "/#{@agreement.agreeable.class.table_name}/#{@agreement.agreeable.id}/document", target:'_blank'}
                %i.fa.fa-file-text-o{"aria-hidden"=>true}
          %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Cerrar votación"}
            %a.ajax-response.refresh{:href => "/agreements/#{@agreement.id}/close_agreement", "data-remote"=>"true", "data-method"=>"post", "data-confirm"=>"¿Desea cerrar el acuerdo manualmente?"}
              %i.fa.fa-lock{"aria-hidden"=>true}
          %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Recordar votación por email"}
            %a.send-email{:href => "/agreements/#{@agreement.id}/send_email", "data-remote"=>"true", "data-method"=>"post", "data-confirm"=>"Se enviará un correo"}
              %i.fa.fa-envelope{"aria-hidden"=>true}
          %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Borrar acuerdo"}
            %a.eliminar{:href => "/agreements/#{@agreement.id}", "data-remote"=>"true", "data-method"=>"delete", "data-confirm"=>"Se eliminará el acuerdo permanentemente"}
              %i.fa.fa-trash{"aria-hidden"=>true}

:javascript
  $('select').material_select();
  $("select[required]").css({display: "inline", height: 0, padding: 0, width: 0});
  $('.tooltipped').tooltip({delay: 50});
  $('.modal').modal();
  if(#{is_admin?}){
  Dropzone.autoDiscover = false;

  var headlineDropzone = new Dropzone("#upload-dropzone", {

  //url: "/agreements/#{@agreement.id}/upload_file", // You can override url of form in here.

  maxFilesize: 5, // in MB
  addRemoveLinks: true,
  parallelUploads: 2,
  //autoQueue:false,

  acceptedFiles:'.jpg, .png, .jpeg, .gif, .pdf, .doc, .docx, .xls', // type of files

  init: function(){

    this.on('addedfile', function(file) {

      // Called when a file is added to the list.

    });

    this.on('removedfile', function(file) {

      // Called when a file is added to the list.

    });

    this.on('sending', function(file, xhr, formData) {

      // Called just before each file is sent.

    });

    this.on('success', function(file, json) {
      refreshFiles(#{@agreement.id});
      Materialize.toast("Archivo subido", 4000);
      this.removeFile(file)

      // Called when file uploaded successfully.

    });

  }

  });

  }
