.row.breadcrumbs
  .col.s12
    %a.ajax-item.tooltipped{href:"/meetings/#{@agreement.meeting.id}", "data-remote"=>"true", url:"meetings/#{@agreement.meeting.id}","data-position"=>"bottom", "data-delay"=>"50", "data-tooltip"=>"Sesión #{@agreement.meeting.id_key}"}
      =@agreement.meeting.id_key
    %i.fa.fa-angle-right{"aria-hidden"=>true}
    =@agreement.id_key

-if @agreement.status.eql? Agreement::DELETED
  %h1.center.red
    Acuerdo eliminado
-else
  .container
    .row
      %h1.center
        =@agreement.get_type
        .chip.amber
          -if @agreement.status.eql? Agreement::CLOSE
            %i.fa.fa-lock{"aria-hidden"=>true}
          -else
            %i.fa.fa-unlock{"aria-hidden"=>true}
        -if @agreement.decision
          -color = 'green'
          -case @agreement.decision
            -when Agreement::ACCEPTED
              -color = 'green'
            -when Agreement::REJECTED
              -color = 'orange'
          .chip{class:color}
            ="#{@agreement.get_decision}"

  .row
    .col.l12.m12
      .card.z-depth-2
        .card-content
          .card-title
            Informacion del acuerdo
          =render partial:"#{@agreement.agreeable.class.table_name}/show", locals:{agreeable:@agreement.agreeable}
  .row
    .col.l12.m12
      .card
        .card-content
          .card-title
            Documentos
          #agreement_files
            :javascript
              refreshFiles();
  .row
    .col.l12.m12
      -if current_user.user_type == User::CEP
        -if @agreement.status == Agreement::OPEN
          -if Response.where(:user_id => current_user.id).where(:agreement_id => @agreement.id).size == 0
            .card
              .card-content
                .card-title
                  Votación
                .section#vote-form
                  %h5
                    Realizar votación
                  =form_for @response, :url => "/agreements/#{@agreement.id}/send_response", html:{remote:true, class:'alertas refresh'} do |f|
                    .row
                      .col.l4.m4.input-field
                        =f.select :answer, options_for_select([['Aceptar',Response::ACCEPTED],['Rechazar', Response::REJECTED],['Resolver en comité', Response::TO_COMMITTEE]]),{:include_blank => '-- Selecciona --',required:true}
                        =f.label :answer, 'Respuesta'
                      .col.l4.m4.input-field
                        =f.text_field :comment
                        =f.label :comment, 'Comentarios', class:'active'
                      .col.l4.m4.input-field.center
                        =f.submit 'Enviar', class:'btn brown'
                .section.soft-border
                  %h5
                    Tabla de votaciones
                  %table
                    %thead
                      %tr
                        %th
                        %th Miembro del CEP
                        %th Voto
                        %th Comentarios
                    %tbody
                      -@ceps.each do |member|
                        %tr
                          %td
                            =image_tag "http://cimav.edu.mx/foto/#{member.email[/[^@]+/]}/50", class:'circle responsive-img', alt:'*'
                          %td
                            =member.name
                          %td
                            -response = Response.where(:user_id => member.id).where(:agreement_id => @agreement.id)
                            -if response.size > 0
                              -if response.first.answer.eql? Response::ACCEPTED
                                %i.fa.fa-check{"aria-hidden" => "true", "data-position"=>"bottom", "data-delay"=>"80", "data-tooltip"=>"Aceptar"}
                              -if response.first.answer.eql? Response::REJECTED
                                %i.fa.fa-times{"aria-hidden" => "true", "data-position"=>"bottom", "data-delay"=>"80", "data-tooltip"=>"Rechazar"}
                              -if response.first.answer.eql? Response::TO_COMMITTEE
                                %i.fa.fa-exclamation-circle.tooltipped.red-text.text-darken-2{"aria-hidden" => "true", "data-position"=>"bottom", "data-delay"=>"80", "data-tooltip"=>"Resolver en comité"}
                            -else
                              = "---"
                          %td
                            -if response.size >0
                              =response.first.comment
                            -else
                              = "---"

  -if is_admin?
    .row
      .fixed-action-btn.toolbar
        %a.btn-floating.btn-large.blue
          %i.large.fa.fa-pencil{"aria-hidden"=>true}
        %ul.padding-content
          %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Editar acuerdo"}
            %a.ajax-item{:href => "/meetings/#{@agreement.meeting.id}/agreements/#{@agreement.id}", "data-remote"=>"true", url:"meetings/#{@agreement.meeting.id}/agreements/#{@agreement.id}"}
              %i.fa.fa-pencil{"aria-hidden"=>true}
          %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Cerrar votación"}
            %a{:href => "#!"}
              %i.fa.fa-lock{"aria-hidden"=>true}
          %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Editar"}
            %a{:href => "#!"}
              %i.fa.fa-unlock{"aria-hidden"=>true}
          %li.waves-effect.waves-light.tooltipped{"data-position"=>"top", "data-delay"=>"50", "data-tooltip"=>"Borrar acuerdo"}
            %a.eliminar{:href => "/agreements/#{@agreement.id}", "data-remote"=>"true", "data-method"=>"delete"}
              %i.fa.fa-trash{"aria-hidden"=>true}

:javascript
  $('select').material_select();
  $("select[required]").css({display: "inline", height: 0, padding: 0, width: 0});
  $('.tooltipped').tooltip({delay: 50});
  $('.modal').modal();

