!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Comité de Estudios de Posgrado
    = csrf_meta_tag


    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"}



  %body
    / Dropdown Structure
    %ul#dropdownUser.dropdown-content
      %li
        %a{:href => "/logout"} Cerrar sesión
    %header

      %nav
        .nav-wrapper
          %ul.right
            %li
              %a.avatar.dropdown-button{"data-activates" => "dropdownUser"}
                =image_tag "http://cimav.edu.mx/foto/#{current_user.email[/[^@]+/]}/50", class:'circle img-responsive', alt:'picture'
          %a.button-collapse.top-nav.full.hide-on-large-only{"data-activates" => "side-menu", :href => "#"}
            %i.fa.fa-bars.fa-2x.black-text{"aria-hidden" => "true"}
      %ul#side-menu.side-nav.fixed
        %ul
          .center
            %h1.white-text
              %a{href:'/#!',onclick:"goIndex()"}
                CEP
          #menu-items




    %main
      .container
        #main-content
        = yield
      %br
      %br
      %br
      %br
      %br
      #preloader-expediente.center
        .preloader-wrapper.big.active
          .spinner-layer.spinner-blue-only
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle

:javascript
  refreshMenu();
